<div class='container'>
  <h1 class='well'><%= t "sportground.becomeprovider" %></h1>
  <div class='col-lg-12 well'>
    <div class='row'>
      <%= render "sportground_form" %>
    </div>
  </div>
</div>
