<div class="row">
  <div class="col-md-4">
    <%= render current_user %>
  </div>
  <div class="col-md-8">
    <h3><%= t  "schedule.index.list_schedule" %></h3>
    <div class="row">
      <%= render @user_schedules %>
    </div>
  </div>
</div>
