$blue-1: #4e7e9e;
$white-1: #eaeaea;
$gray-1: #555;
$dark-1: #222;
$dark-2: #777;
$white-2: #fff;
$red: #ff0000;
$gray-medium-light: $white-1;
$gray-3: #e8e8e8;
$form_color1: #e5e5e5;
$gray-light: #b3b4ac;
$green-1: #00f100;
$orange: #f7b00c;
